<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
	<title>xx网</title>
	<meta name="title" content="">
	<meta name="description" content="">
	<meta name="image" content="">
	<style type="text/css">
	body,footer,p{margin: 0; padding: 0;list-style: none;background-color:#fff;}
	body {font-size: 16px;font-family:Microsoft YaHei UI, "微软雅黑", Heiti SC, Droid Sans;  -webkit-text-size-adjust: none;}
	img {vertical-align: middle; border: 0; -ms-interpolation-mode: bicubic; -webkit-tap-highlight-color: rgba(0, 0, 0, 0) }
	header, footer, article, section{display: block; clear: all;}
	</style>
</head>
<body>
	<header style="display:none;">xx网</header>
	<section style="height: 10rem;position: absolute;top:50%;margin:-5rem auto 0;;width: 100%;">
		<img src="/qrlogin/public/img/close.png" title="登录失败" alt="登录失败" style="width:4rem;height:4rem;margin:0 auto;display: block" />
		<p style="font-size:2rem;height:4rem;line-height:4rem;color:#787878;text-align:center;">登录失败</p>
		<p style="font-size:1rem;height:2rem;line-height:2rem;color:#787878;text-align:center;">没有登录成功哎~快去检查一下网咯吧~</p>
	</section>
	<footer style="display:none;">xx网</footer>
</body>
</html>